.App {
  text-align: center;
  background-color: #04080F;;
  color: white;
}

a {
  text-decoration: none;
  color: #61dafb;
}
a:hover {
  background-color: rgb(26, 27, 32);
}
ul {
  list-style-type: none;
}
h1{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  width: 100vw;
  text-align: center;
  border-bottom-style: solid;
  border-radius: 3px;
}
form{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
form >*{
  width: 200px;
}
[type=submit]{
  width: 204px;
}
.wrapper{
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
}
.wrapper >*{
  width: 300px;
  margin: 10px;
  border-style: solid;
  border-radius: 5px;
}
